<!-- Generated template for the LessonCComponent component -->
<div>
    <ion-card class="cardsize">

        <ion-grid>
            <ion-row>

                <ion-col col-12>
                    <ion-row>
                        <ion-col col-8>
                            <div class="text">
                                บทที่ 5 คำสั่งควบคุมวนซ้ำ
                            </div>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button round small color="secondary">คะเเนน</button>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-4>
                            <button ion-button round small color="primary">เนื้อหา</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button round small color="primary">แบบฝึกหัด</button>
                        </ion-col>
                        <ion-col col-4>
                            <button ion-button round small color="danger">รีเซ็ท</button>
                        </ion-col>
                    </ion-row>

                </ion-col>

            </ion-row>
        </ion-grid>


    </ion-card>


</div>