page-lesson {
    .lesson {
        margin-left: 10px;
        font-size: 1.7rem;
        color: white;
    }
    .background {
        background-image: url('../../assets/imgs/bg.jpg');
        background-size: 100% 100%;
        animation: colorchange 25s ease-out infinite;
    }
    .text {
        font-size: 2rem;
        color: #6D7172 !important;
    }
    .button {
        width: 80%;
    }
}