<ion-header>

    <ion-navbar color="primary">

        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>

        <a><b class="lesson">บทเรียน</b></a>

    </ion-navbar>

</ion-header>

<ion-content class="background">
    <ion-refresher #refresherRef slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <div *ngFor="let lesson of lessons">

        <ion-card class="cardsize">

            <ion-grid>
                <ion-row>

                    <ion-col col-12>
                        <ion-row>
                            <ion-col col-12>
                                <div class="text">
                                    {{lesson.les_name}}
                                </div>
                            </ion-col>

                        </ion-row>
                        <ion-row>
                            <ion-col col-3>
                                <button ion-button round small color="primary"
                                    (click)="onClickContent(lesson.les_id)">เนื้อหา</button>
                            </ion-col>
                            <ion-col col-4>
                                <button ion-button round small color="primary" (click)="test(lesson)">แบบฝึกหัด</button>
                            </ion-col>
                            <ion-col col-5>
                                <button class="btn" *ngIf="lesson.point" ion-button round small color="secondary"><span
                                        class="choice">{{lesson.point}} คะแนน</span></button>
                                <button class="btn" *ngIf="!lesson.point" ion-button round small color="danger"><span
                                        class="choice">คะแนน</span></button>
                            </ion-col>
                        </ion-row>

                    </ion-col>

                </ion-row>
            </ion-grid>


        </ion-card>


    </div>




</ion-content>