<ion-content padding class="background">

    <ion-row>
        <ion-col col-1>
            <img src="../../assets/icon/cancel.svg" (click)="Closeregister()" class="piccross">
        </ion-col>
    </ion-row>

    <img src="../../assets/imgs/user.png" class="picture">

    <ion-card>
        <ion-card-header class="header">สมัครสมาชิก</ion-card-header>
        <ion-card-content>
            <form [formGroup]="registerForm">

                <ion-row>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-person"></ion-icon>
                        </ion-label>
                        <ion-input type="text" required placeholder="ชื่อ" [formControl]="registerForm.controls['firstname']" [(ngModel)]="registerForm.firstname" name="firstname"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="registerForm.get('firstname').hasError('required') && registerForm.get('firstname').touched">
                        โปรดกรอกชื่อของคุณ
                    </p>
                    <p class="error" *ngIf="registerForm.get('firstname').hasError('minlength') && registerForm.get('firstname').touched">
                        Minimum 4 characters
                    </p>
                    <p class="error" *ngIf="registerForm.get('firstname').hasError('maxlength') && registerForm.get('firstname').touched">
                        Maximum 15 characters
                    </p>
                    <p class="error" *ngIf="registerForm.get('firstname').hasError('pattern') && registerForm.get('firstname').touched">
                        Just use alphabet character
                    </p>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-mail"></ion-icon>
                        </ion-label>
                        <i class="icon ion-android-person placeholder-icon"></i>
                        <ion-input type="text" required placeholder="ที่อยู่อีเมล" [formControl]="registerForm.controls['email']" [(ngModel)]="registerForm.email" name="email"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="registerForm.get('email').hasError('required') && registerForm.get('email').touched">
                        โปรดกรอกที่อยู่อีเมล
                    </p>
                    <p class="error" *ngIf="registerForm.get('email').hasError('pattern') && registerForm.get('email').touched">
                        ที่อยู่อีเมลไม่ถูกต้อง
                    </p>

                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-lock"></ion-icon>
                        </ion-label>
                        <ion-input type="password" required placeholder="รหัสผ่าน" [formControl]="registerForm.controls['password']" [(ngModel)]="registerForm.password" name="password"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
                        โปรดกรอกรหัสผ่าน
                    </p>
                    <p class="error" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
                        โปรดกรอกรหัสผ่านอย่างต่ำ 8 หลัก
                    </p>
                    <p class="error" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
                        สามารถกรอกรหัสผ่านได้มากสุด 15 หลัก
                    </p>
                </ion-row>

                <ion-row>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-lock"></ion-icon>
                        </ion-label>
                        <ion-input type="password" required placeholder="ยืนยันรหัสผ่าน" [formControl]="registerForm.controls['repassword']" [(ngModel)]="registerForm.repassword" name="repassword"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="registerForm.get('repassword').hasError('required') && registerForm.get('repassword').touched">
                        โปรดกรอกรหัสผ่าน
                    </p>
                    <p class="error" *ngIf="registerForm.get('repassword').hasError('minlength') && registerForm.get('repassword').touched">
                        โปรดกรอกรหัสผ่านอย่างต่ำ 8 หลัก
                    </p>
                    <p class="error" *ngIf="registerForm.get('repassword').hasError('maxlength') && registerForm.get('repassword').touched">
                        สามารถกรอกรหัสผ่านได้มากสุด 15 หลัก
                    </p>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <button ion-button block color="default" [disabled]="registerForm.invalid" (click)="ongotoregister()">ตกลง</button>
                    </ion-col>
                </ion-row>

            </form>

        </ion-card-content>
    </ion-card>





</ion-content>