<ion-content padding class="background">

    <ion-row>
        <ion-col col-1>
            <img src="../../assets/icon/cancel.svg" (click)="CloseeditPage()" class="piccross">
        </ion-col>
    </ion-row>



    <img src="../../assets/imgs/icon-user.png" class="picture">

    <ion-card>
        <ion-card-header class="header">แก้ไขโปรไฟล์</ion-card-header>
        <ion-card-content>

            <form [formGroup]="editpageForm">

                <ion-row>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-person"></ion-icon>
                        </ion-label>


                        <ion-input type="text" required placeholder="ชื่อผู้ใช้งาน" [formControl]="editpageForm.controls['firstname']" [(ngModel)]="editpageForm.firstname" name="firstname"></ion-input>

                    </ion-item>

                    <p class="error" *ngIf="editpageForm.get('firstname').hasError('required') && editpageForm.get('firstname').touched">
                        โปรดกรอกชื่อของคุณ
                    </p>

                    <p class="error" *ngIf="editpageForm.get('firstname').hasError('maxlength') && editpageForm.get('firstname').touched">
                        สามารถกรอกรหัสผ่านได้มากสุด 15 หลัก
                    </p>
                    <p class="error" *ngIf="editpageForm.get('firstname').hasError('pattern') && editpageForm.get('firstname').touched">
                        กรอกได้เฉพาะตัวอักษรเท่านั้น
                    </p>
                </ion-row>


                <ion-row>
                    <ion-item>
                        <ion-label>
                            <ion-icon name="md-mail"></ion-icon>
                        </ion-label>
                        <i class="icon ion-android-person placeholder-icon"></i>

                        <ion-input type="text" required placeholder="อีเมล์" [formControl]="editpageForm.controls['email']" [(ngModel)]="editpageForm.email" name="email"></ion-input>

                    </ion-item>
                    <p class="error" *ngIf="editpageForm.get('email').hasError('required') && editpageForm.get('email').touched">
                        โปรดกรอกอีเมลของคุณ
                    </p>
                    <p class="error" *ngIf="editpageForm.get('email').hasError('pattern') && editpageForm.get('email').touched">
                        อีเมลของคุณไม่ถูกต้อง
                    </p>
                </ion-row>


                <ion-row>
                    <ion-item>

                        <ion-label>
                            <ion-icon name="md-lock"></ion-icon>
                        </ion-label>
                        <ion-input type="password" required placeholder="รหัสผ่าน" [formControl]="editpageForm.controls['password']" [(ngModel)]="editpageForm.password" name="password"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="editpageForm.get('password').hasError('required') && editpageForm.get('password').touched">
                        โปรดกรอกรหัสผ่านของคุณ
                    </p>
                    <p class="error" *ngIf="editpageForm.get('password').hasError('minlength') && editpageForm.get('password').touched">
                        โปรดกรอกรหัสผ่านอย่างต่ำ 8 หลัก
                    </p>
                    <p class="error" *ngIf="editpageForm.get('password').hasError('maxlength') && editpageForm.get('password').touched">
                        สามารถกรอกรหัสผ่านมากสุด 15 หลัก
                    </p>
                </ion-row>


                <ion-row>
                    <ion-item>

                        <ion-label>
                            <ion-icon name="md-lock"></ion-icon>
                        </ion-label>
                        <ion-input type="password" required placeholder="ยืนยันรหัสผ่าน" [formControl]="editpageForm.controls['repassword']" [(ngModel)]="editpageForm.repassword" name="repassword"></ion-input>
                    </ion-item>
                    <p class="error" *ngIf="editpageForm.get('repassword').hasError('required') && editpageForm.get('repassword').touched">
                        โปรดกรอกรหัสผ่านของคุณ
                    </p>
                    <p class="error" *ngIf="editpageForm.get('repassword').hasError('minlength') && editpageForm.get('repassword').touched">
                        โปรดกรอกรหัสผ่านอย่างต่ำ 8 หลัก
                    </p>
                    <p class="error" *ngIf="editpageForm.get('repassword').hasError('maxlength') && editpageForm.get('repassword').touched">
                        สามารถกรอกรหัสผ่านมากสุด 15 หลัก
                    </p>
                </ion-row>

            </form>

            <ion-row>
                <ion-col>
                    <button ion-button block color="default" [disabled]="editpageForm.invalid" (click)="ongotoregister()">บันทึก</button>
                </ion-col>
            </ion-row>

        </ion-card-content>
    </ion-card>




</ion-content>