page-dotest {

        .iconsearch {
    
            font-size: 2em;
        }
        .menutitle {
            text-align: center;
        }
        .iconmenu {
            font-size: 2em;
        }
        .numbertest{
            text-align: center !important;
            margin: 0px;
            padding: 0px 0px;
            border-radius: 3px;
            color: #fff;
            background-color: #AEAEAE;
        }
        .numbertest2{
            text-align: center !important;
            background-color: #89cb3a;
            color: #fff;
            margin: 0px;
            padding: 0px 0px;
            border-radius: 3px;
        }
        .numbertest3{
            text-align: center !important;
            background-color: #299ed4;
            color: #fff;
            margin: 0px;
            padding: 0px 0px;
            border-radius: 3px;
        }
    
        .numtest{
            text-align: justify !important;
            font-size: 1em;
            font-weight: 700 !important;
            margin-right: auto;
            margin-left: auto;
            display: block;
        }
    
        .timetest{
            margin-bottom: 1em;
            color: #721c24;
            background-color: #f8d7da;
            border-color: #f5c6cb;
            position: relative;
            padding: 0.75rem 1.25rem;
            margin-bottom: 1rem;
            border: 1px solid transparent;
            border-radius: .25rem;
        }
        .timetest span{
            font-size: 1.5em !important;
        }
        .texttest{
            line-height: 1;
            text-overflow: ellipsis;
        }
        .item-md p,.item-ios p{
            font-size: 0.7em !important;
            line-height: 1;
        }
        .label-md{
            font-size: 1em;
        }
        
        .label-ios{
            font-size: 1em;
        }
    
        .timetest2{
            font-size: 1.5em;
            font-weight: 700 !important;
            letter-spacing: 1px !important;
        }
    
        .testcard{
            margin-top: 2em;
        }
    
        .titletest1{
            top: initial !important;
            font-size: 1.5em;
            text-align: left;   
            padding: 15px 15px 10px 15px;
            font-weight: 600 !important;
            color: #5CAA2F;
            background-color: #aeaeae24;
        }
        .choicetest,.item-md,.item-ios{
            font-size: 1.4em !important;
            font-weight: 600 !important;
            padding: 10px;
            line-height: 1;
        }
    
        .item-ios,.item-md{
            border-bottom: 1px solid rgba(0, 0, 0, 0.03) !important;
            border-top: 1px solid rgba(0, 0, 0, 0.03) !important;
        }
        .backbtntest{
            background-color: #707070 !important;
            margin-top: 1em;
            margin-left: 8%;
            color: #fff;
            font-size: 1.6em;
            border-radius: 5px;
            padding: 10px;
            float: left;
        }
        .nextbtntest{
            background-color: #62AB40 !important;
            margin-top: 1em;
            margin-right: 8%;
            color: #fff;
            font-size: 1.6em;
            border-radius: 5px;
            padding: 10px;
            float: right;
        }
        
        .canceltest{
            font-size: 1.4em;
            background-color: transparent;
            color: #fff;
        }
        .item-radio-checked.item-ios .ion-label{
            color: #5caa2f;
        }
       
    
    }
    

