<!-- Generated template for the TestCComponent component -->
<div>

    <ion-card class="cardsize">
        <ion-grid>
            <ion-row>
                <!-- <ion-col col-2>
                <img src="../../assets/imgs/icon-c.png" style="width:60%">
            </ion-col> -->
                <ion-col col-12>
                    <ion-row>
                        <div class="text">
                            ชุดข้อสอบที่ 2
                        </div>
                    </ion-row>
                    <ion-row>
                        <ion-col col-12>
                            <button ion-button round small>แบบฝึกหัด</button>
                        </ion-col>
                        
                    </ion-row>

                </ion-col>

            </ion-row>
        </ion-grid>
    </ion-card>

</div>