<ion-content padding class="background">

    <ion-row>
        <ion-col col-1>
            <img src="../../assets/icon/cancel.svg" (click)="Closeforget()" class="piccross">
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
            <img src="../../assets/icon/key.png" class="key">
        </ion-col>
    </ion-row>


    <ion-card>
        <ion-card-header class="header">
            Forgot Your Password?
        </ion-card-header>
        <ion-card-content>
            <ion-list class="content">
                Enter your email below to receive your account.

            </ion-list>
            <hr>
            <form [formGroup]="ForgetForm">
                <ion-list>
                    <ion-row>
                        <ion-item>

                            <ion-label>
                                <ion-icon name="md-mail"></ion-icon>
                            </ion-label>



                            <i class="icon ion-android-person placeholder-icon"></i>
                            <ion-input type="email" required placeholder="example@email.com" [formControl]="ForgetForm.controls['useremail']" [(ngModel)]="ForgetForm.useremail" name="useremail"></ion-input>
                        </ion-item>
                        <p class="error" *ngIf="ForgetForm.get('useremail').hasError('required') && ForgetForm.get('useremail').touched">
                            Please input your email
                        </p>
                        <p class="error" *ngIf="ForgetForm.get('useremail').hasError('pattern') && ForgetForm.get('useremail').touched">
                            Email address invalid
                        </p>
                    </ion-row>
                </ion-list>

            </form>
            <ion-row>
                <ion-col>
                    <ion-buttons>
                        <button ion-button block color="default" ion-button (click)="ongotoreloginpage()">SEND</button>
                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>

</ion-content>