page-forget-password {
    .error {
        margin-left: 10px;
        color: red;
        font-weight: bold;
        text-align: left;
    }
    .key {
        margin-top: 0px;
        width: 150px;
        height: 150px;
    }
    .piccross {
        color: rgb(0, 0, 0);
        width: 15px;
        height: 15px;
    }
    .text {
        margin-top: 50px;
        text-align: center;
    }
    .header {
        font-size: 2.5rem;
    }
    ion-card.card {
        height: 270px;
        margin-top: 30px;
        box-shadow: none;
        background-color: #E7E6E4;
        border-radius: 7px;
        filter: alpha(opacity=60);
        opacity: 0.9;
    }
    .content {
        color: #6D7172 !important;
    }
    .background {
        background-image: url('../../assets/imgs/bg.jpg');
        background-size: 100% 100%;
        animation: colorchange 25s ease-out infinite;
    }
    .background {
        background-image: url('../../assets/imgs/bg.jpg');
        background-size: 100% 100%;
        animation: colorchange 25s ease-out infinite;
    }
    .text {
        font-size: 1.5rem;
        text-align: left;
        color: #6D7172 !important;
    }
    a,
    p,
    .list>.item-block:first-child {
        border: medium none;
    }
    .item {
        margin-top: 10px;
        margin-bottom: 3px;
        margin-left: 10px;
        margin-right: 10px;
        background: rgb(255, 255, 255);
        border: medium none;
    }
    .bottom {
        position: absolute;
        bottom: 0;
    }

    ion-col{
        text-align: center;
    }

    ion-card-header{
        text-align: center;
    }

    ion-card-content{
        text-align: center;
    }
}