<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <a><b class="lesson">{{exerciseName}}</b></a>

  </ion-navbar>

</ion-header>

<ion-content class="background">


  <div *ngFor="let exercise of exercises; let i = index">

    <ion-card class="cardsize">

      <ion-grid>
        <ion-row>

          <ion-col col-12>
            <ion-row>
              <ion-col col-12>
                ข้อที่ {{i+1}}
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-12>
                <img [src]="exercise.test_c_img_url" />
              </ion-col>
            </ion-row>
            <ion-row *ngIf="exercise.test_type == 1">
              <ion-col col-12>
                <button ion-button round block [color]="exercise.btnA_Color" class="btn"
                  (click)="choseAns('1', exercise)"><span class="choice">{{exercise.test_c_A}}</span></button>
              </ion-col>
              <ion-col col-12>
                <button ion-button round block [color]="exercise.btnB_Color" class="btn"
                  (click)="choseAns('2', exercise)"><span class="choice">{{exercise.test_c_B}}</span></button>
              </ion-col>
              <ion-col col-12>
                <button ion-button round block [color]="exercise.btnC_Color" class="btn"
                  (click)="choseAns('3', exercise)"><span class="choice">{{exercise.test_c_C}}</span></button>
              </ion-col>
              <ion-col col-12>
                <button ion-button round block [color]="exercise.btnD_Color" class="btn"
                  (click)="choseAns('4', exercise)"><span class="choice">{{exercise.test_c_D}}</span></button>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="exercise.test_type == 2">
              <ion-col col-12>
                ใส่คำตอบ :
                <ion-textarea style="background-color: aliceblue;"></ion-textarea>
              </ion-col>
            </ion-row>

            <ion-row *ngIf="exercise.test_type == 3">
              <ion-col col-12>
                ทดสอบเขียนโค้ดที่ด้านล่าง
              </ion-col>
            </ion-row>

            <ion-row *ngIf="(exercise.test_type == 2 || exercise.test_type == 3) && submited">
              <ion-col col-12>
                <img [src]="exercise.test_c_ans_img_url" />
              </ion-col>
            </ion-row>

            <ion-row>
            </ion-row>
          </ion-col>

        </ion-row>
      </ion-grid>
    </ion-card>



  </div>
  <br>
  <button ion-button round block color="secondary" (click)="onClickSubmit()" [disabled]="submited">ส่งคำตอบ</button>
  <br>
  <br>
  <div *ngIf="submited">
    <p>คะแนนที่ได้ : {{sumCorect}}</p>
  </div>
  <br>
  <iframe #iframe width="100%" height="500px" class="iframe" scrolling="yes"
    src="https://www.jdoodle.com/c-online-compiler"></iframe>







</ion-content>