page-exercise {
    .btn:active{
        background:rgb(0, 253, 13);
    }

    .btn {
        white-space: normal;
        //height: 100%;
    }

    .choice{
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: left;
    }

    .lesson {
        margin-left: 10px;
        font-size: 1.7rem;
        color: white;
    }
}
